{% extends 'base.html' %}

{% block head %} 
    <title>Login Page</title>
{% endblock %}

{% block body %}
<h1>Log in! -Chat App</h1>
<form action="" method="post">
    <div>
    <p style="display: inline;">Username:</p>
    <input class = "form_input " type="text" name="user_name" >
    </div>
    <br>
    <div>
    <p style="display: inline;">Password:</p>
    <input class = "form_input "type="password" name="password">
    </div>
    <br>
    <div>
    <input class = "but" type="submit" value="Sign in">
    <a class = "but" href="{{ url_for('register_controller') }}" style="display: inline;">Register</a>
    </div>
</form>
{% endblock %}