body {
    animation: gradient 25s ease infinite;
    background: linear-gradient(-45deg, #CE49BF, #de9acb, #ebcd54, #bf75d2,#be40e5);
    background-size: 400% 400%;
    height: 100vh;
}

h1{
    color: white;
	font-size: 80px;
    font-family:Tahoma;
	-webkit-text-stroke: 3px rgb(53, 53, 53);
}

p{
    color: white;
	font-size: 46px;
    font-family:Tahoma;
	-webkit-text-stroke: 1px rgb(53, 53, 53);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

button.base_button{
    background-color: #B2A4FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button.base_button:hover{
    background-color: #7F5283;
}

/* input {
    background-color: #700426;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */

  button, input.but{
    background-color: #4d40a4;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  a.but{
    background-color: #771d3a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .form_input{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 20%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
